@media screen {
	.box {
		border: 1px solid #eee;
		background: #fff;
		margin-bottom: 10px;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

		.box-header {
			padding: 15px 10px;
			border-bottom: 1px solid #eee;
			margin: 0 10px;
			color: #2ab0ed;
			font-size: 1.25em;
			font-weight: bold;
		}

		.box-body {
			padding: 20px;
		}

		.box-footer {
			border-top: 1px solid #f5f5f5;
			padding: 20px;
		}

		&.no-padding {
			.box-body {
				padding: 0 10px;
			}
		}

		.table > tbody > tr:first-child > td {
			border-top: none;
		}
	}
}
