.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.text-regular {
	font-weight: normal;
}

.fa-icon, .fa-btn {
	margin-right: 6px;
}

.text-small, .text-sm {
	font-size: 0.85em;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.mbot20 {
	margin-bottom: 20px;
}

.pad-left {
	padding-left: 40px !important;
}
