body {
  padding-top: 80px;
}

.router-view-container {
  position: relative;
}

.blink-transition {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blink-transition {
  transition: all 0.3s ease-in-out;
  opacity: 1;

  // transform: scale3d(1, 1, 1)
}

.blink-enter, .blink-leave {
  opacity: 0;

  // transform: scale3d(0.8, 0.8, 0.8)
}

@media (min-width: 768px) {
  #main-menu {
    height: 65px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .caret {
      display: none;
    }

    .nav {
      padding: 0;

      > li {
        > a {
          padding: 8px;
          min-width: 100px;
          text-align: center;
          font-size: 0.85em;

          .fa {
            display: block;
            font-size: 24px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #main-menu {
    height: 60px;

    .navbar-brand {
      margin-top: 5px;
    }

    .dropdown-menu {
      > .active {
        a,
        a:focus,
        a:hover {
          background: rgba(255, 118, 0, 0.7);
          color: white;
        }
      }
    }

    ul {
      padding: 5px 0;

      > li {
        > .dropdown-menu {
          padding: 5px;
          border: none;
          background: white;
          min-width: 220px;
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
          display: block;
          visibility: collapse;
          opacity: 0;
          transition: 0.2s ease-out;
          top: 100px;

          li {
            a {
              padding: 12px 20px;
              color: #555;
            }

            a:hover {
              background: $brand-primary;
              color: white;
            }
          }
        }
      }

      li > a {
        transition: 0.2s ease-out;
      }

      .open {
        .dropdown-menu {
          visibility: visible;
          opacity: 1;
          top: 100%;
        }

        > a:focus {}

        > a:hover {}

        > a {
          color: white;
          background: $brand-primary;
        }
      }
    }

    .dropdown-header {
      color: #222;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover {
    background: #2ab0ed;
    color: white;
  }
}
